vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-IUDVR6S\\Peter
vti_modifiedby:SR|DESKTOP-IUDVR6S\\Peter
vti_timelastmodified:TR|14 Dec 2016 17:49:50 -0000
vti_timecreated:TR|10 Oct 2016 01:45:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|GBB\\ Concept/theboard.html GBB\\ Concept/donors.html GBB\\ Concept/join.html GBB\\ Concept/contact.html GBB\\ Concept/index.html Oganesson/index.html GBB\\ Concept/about.html GBB\\ Concept/allboard.html GBB\\ Concept/events.html GBB\\ Concept/donate.html
vti_nexttolasttimemodified:TW|14 Dec 2016 17:49:30 -0000
vti_cacheddtm:TX|14 Dec 2016 17:49:50 -0000
vti_filesize:IR|235
vti_cachedlinkinfo:VX|S|../fonts/bikoreg.otf S|../fonts/Oganesson.eot
vti_cachedsvcrellinks:VX|FSUS|Oganesson/fonts/bikoreg.otf NSUS|Oganesson/fonts/Oganesson.eot
